

<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/users" routerLinkActive="active">		Clientes
      </a></li>
      <li><a routerLink="/servicos" routerLinkActive="active">		
      		Serviços
      </a></li>
      <li><a routerLink="/funcionarios" routerLinkActive="active">		Funcionários
      </a></li>
            <li><a routerLink="/agenda" routerLinkActive="active">		Agenda
      </a></li>
    </ul>
  </div>
</nav>
